@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

body {
    /* background-color: rgb(50, 122, 205); */

     background-image: url("https://eskipaper.com/images/pastry-wallpaper-3.jpg");

     /* width:600px;
     height:200px;
     border: 2px solid black;
     background: url("https://images.squarespace-cdn.com/content/v1/58a21d2ee3df281cfde6e815/1487706069060-MJQALRKGQVBF5ZLNAJBB/Pastry_Banner.png?format=1500w");
     background-repeat: no-repeat;
     background-size: 100% auto; */
}