#home {
    width: 100%;
    height: 100vh;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 100px;

    gap: 10px;

    padding: 10px;

    box-sizing: border-box;

}

#homePic{
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/58a21d2ee3df281cfde6e815/1487706069060-MJQALRKGQVBF5ZLNAJBB/Pastry_Banner.png?format=1500w"); */
    /* background-repeat: no-repeat; */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}

#Header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#Login {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#Top {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;

    background-color: white;
    padding: 5px; 
    border-radius: 30px;
    box-shadow: 0 0 .25em black;
    margin-right: 4px;
}

#Footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}



