#searchPrompt{
    font-size: 2em;
    margin-left: 400px;
}
#search{
    font-size: 2em;
    margin-left: 620px;
    margin-right: 500px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}