.Submission {
    font-size: 20px;
    margin-left: 550px;
    margin-right: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b9402a;
    padding: 5px;
    padding-left: 70px;
    border-radius: 30px;
    border: solid 2px white;
}

.allInput {
    height: 30px;
    width: 200px;
    text-align: center;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
}

#subButton{
    border: 1px solid;
    background-color: white;
    height: 30px;
    width: 60px;
    text-align: center;
    color: black;
    border-radius: 8px;
    margin-left: 12px;
    margin-bottom: 20px;
}
    
#subButton:hover {
    color: rgb(252, 89, 179);
}
    
#subButton:active {
    color: #b9402a;
    background-color: #b9402a;   
} 

#subTitle{
    width: 700px;
    height: 40px;
    background: #fff;
    color: #b9402a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 900;
    border-radius: 30px;
    margin-left: 450px;
    border: solid 2px #b9402a;
    padding-top: 10px;
}