.Submission {
    font-size: 20px;
    margin-left: 750px;
    margin-right: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #b9402a;
    padding: 5px;
    padding-left: 70px;
    border-radius: 30px;
    border: solid 2px white;
}

.allInput {
    height: 30px;
    width: 200px;
    text-align: center;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
}